.maze {
  margin-top: 5%;
  margin-left: 30%;
}
.maze__row {
  display: flex;
}
.maze__col {
  border: 2px solid lightblue;
  width: 100px !important;
  height: 100px;
  margin: 1%;
}
.maze__col-path {
  background-color: lightcyan;
}
.maze__col-obstacle {
  background-color: rgb(231, 231, 231);
}
.maze__col-end {
  background-color: rgba(255, 166, 0, 0.575);
}
.maze__add {
  align-self: center;
}
